@import url(./styles/style.css);


.hobby__container {
    background-image: url(./IMG/Infernal2.png);
    height: 500px;
    width: 100%;
    display: flex;
   
    justify-content: center;
    align-items: center;
}

video {
    width: 40%;
    border-radius: 50px;
    margin-right: 15%;
}

.hobby__conteudo {
    width: 50%;
    padding-left: 15%;
    flex-wrap: wrap;
}

.hobbys {
    margin: 0;
    background: black;
    text-align: center;
}

.hobby__container-2 {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    background: #FFF7D4;
}

.h1__1 {
    color: #4C3D3D;
}

.p__2 {
    color: #4C3D3D;
}

@media screen  and (max-width:640px){
        .hobby__container {
            
            display: flex;
            flex-direction: column;
        }

        video {
            display: none;
        }

        .titulo__conteudo img {
           margin-bottom: 2rem;
            width: 100%;
        }

        .hobby__conteudo {
            padding: 0;
            margin: 0;
            width: 80%;
        }

        .hobby__container-2 {
            margin-top: 0.2rem;
            display: flex;
            flex-direction: column;
        }

        .h1__1 {
            font-size: 2rem;
        }

        .p__2 {
            text-align: center;
            padding-left: 1rem;
            padding-right: 1rem;
            padding-bottom: 1rem;
        }
}

